{{!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chat con Coder House</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>
    <body>
        <div class="ui container">
            <div class="ui grid">
                <div class="eight wide column">
                    <div id="ui container">
                        <h1>Mensajes</h1>
                        <div id="posts"></div>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="card">
                        <div class="ui container">
                            <h1>Enviar mensajes</h1>
                            <div class="ui form">
                                <div class="field">
                                    <label for="">Nombre:</label>
                                    <input type="text" name="nombre" id="nombre">
                                </div>
                                <div class="field">
                                    <label for="">Mensaje:</label>
                                    <textarea name="mensaje" id="mensaje"></textarea>
                                </div>
                                <div class="field">
                                    <button class="ui primary button" onclick="enviarMensaje()">
                                        <i class="send icon"></i>
                                        Enviar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Scripts-->
        <script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
        <script src="./js/main.js"></script>
    </body>
</html> --}}


<div>
    Chat con WebSockets 
</div>
<div>
<input id="chatBox"></input>
</div>
<div>
    <p id="messageLogs"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>

<script>
     const sockets=io.connect(`https://ecommercedeploy-production.up.railway.app/`,
    {forceNew:true});
</script>