<div class="container bg mt-5 mb-5 overflow-hidden">
    <div class="row mt-5  align-items-center ">
        <div class="col-12">
            <h4>Formulario de cambio de contraseña</h4>
        </div>
    </div>
    <div class="row mt-5  align-items-center ">
        <div class="col-3">
        1 of 3
        </div>
        <div class="col-6 ">
            <div>
                <h4>La contraseña ha sido cambiada con éxito.</h4>
            </div>    
            <div class="d-grid gap-2 col-6 mx-auto mb-3 position-relative">
                <input class="btn btn-outline-primary form-control" onclick="goToLogin()" value="Inicia sesión" />
            </div>
        </div>
        <div class="col-3">
        3 of 3
        </div>
    </div>
    <div class="row mt-5 align-items-center ">
        <div class="col-12">
            Col 12
        </div>
    </div>

<script src="/js/register.js"></script>