a {
    text-decoration: none;
    font-size: 17px;
}

p {
    font-size: 17px;
}

a:hover {
    color: #0D6EFD !important;
}

i {
    font-size: 25px;
}

/* Estilos CSS personalizados para el botón "Regístrate" */
.btn-hover:hover {
    background-color: #007bff; /* Cambia el color de fondo al color primario de Bootstrap */
    border: 1px solid #007bff; /* Agrega un borde al botón */
    color: #fff; /* Cambia el color del texto a blanco */
  }

/* Estilos personalizados */
body {
    background-color: #f8f9fa;
}

.not-found-container {
    margin-top: 100px;
}

.not-found-text {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}